<div id="formWrap">
  <form *ngIf="add" action="submit" (ngSubmit)="submitEmployeeDetail()" [formGroup]="detailForm">
    <!-- <label for="name">Name: </label> -->
    <!-- [class]="detailForm.controls['name'].errors.required ? 'error' : ''" -->
    <input type="text" formControlName="name" id="name" placeholder="Name">
    <div class="error" *ngIf="submitted && detailForm.controls['name'].errors">
      *Name is required.
    </div>
    <div class="error" *ngIf=" detailForm.controls['name'].hasError('maxlength')">
      *Name should be less than 16 Characters.
    </div>
    <!-- <label for="position">Position: </label> -->
    <input type="text" formControlName="position" id="" placeholder="Position">
    <div class="error" *ngIf="submitted && detailForm.controls['position'].errors">
      *Position is required.
    </div>
      <div class="error" *ngIf="detailForm.controls['position'].hasError('maxlength')">
        *Position should be less than 16 characters.
      </div>
    <!-- <label for="about">About</label> -->
    <textarea formControlName="about" placeholder="About" id="" cols="30" rows="5"></textarea>
    <div class="error" *ngIf="submitted && detailForm.controls['about'].errors">
      *About is required.
    </div>
     <div class="error" *ngIf="detailForm.controls['about'].hasError('maxlength')">
       *About should be less than 180 characters.
     </div>

    <div class="datePicker">
      <input formControlName="joiningDate" placeholder="Joining Date" [matDatepicker]="joiningDate">
      <mat-datepicker-toggle matSuffix [for]="joiningDate"></mat-datepicker-toggle>
      <mat-datepicker #joiningDate></mat-datepicker>
    </div>
    <div class="error" *ngIf="submitted && detailForm.controls['joiningDate'].errors">
      *Joining Date is required.
    </div>


    <button type="submit" class="submitBtn">Add Employee</button>
  </form>
  <div *ngIf="!add" id="success">
    <img src="./assets/icons/checked.svg" alt="" srcset="">
    <h1>Employee Added Successfully...</h1>
    <div class="head">
      <button routerLinkActive="active" [routerLink]="['/employeeList']">Employee List </button>
      <button (click)="addMore()">+ Add More Employee</button>
    </div>
  </div>
</div>
